$main_color: #313994;
$green_color: #4caf50;
$brand_color: #fff;

$menu_link: #fff;
$menu_link_hover: #333;
$border_menu: rgba(0,0,0,.1);

$header_bgc: #fff;
$intro_bgc: rgba(255, 255, 255, 0.7);

$bundle_header_bgc: rgba(255, 255, 255, 0.7);
$bundle_item_border: rgba(0, 0, 0, 0.1);
$light_300: rgba(#fff, .7);

$bundle_header_summary_bgc: #a6dedb;