.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.h-start {
    justify-content: flex-start;
}

.h-end {
    justify-content: flex-end;
}

.tc-main {
    color: $main_color;
}

.bgc-main {
    background-color: $main_color;
}

.bgc-light-300 {
    background-color: $light_300;
}

.bgc-bundle-header {
    background-color: $bundle_header_summary_bgc !important;
}