.bundles {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    color: $main_color;

    .bundle + .bundle {
        margin-left: 16px;
    }

    .bold {
        font-weight: 600;
        font-size: 1.3em;
    }

    .bundle-mobile {
        display: none;
    }

    img {
        max-width: 24px;
    }

    @include breakpoint(xs) {
        flex-direction: column;
        padding: 0;
        
        .bundle {
            margin: 0 !important;
            flex: 1;

            &.bundle-mobile {
                display: block;
                // margin-bottom: 8px !important;
            }

            &:not(.bundle-mobile) {
                padding: 16px;
            }
        }
    }
}

.bundle {
    .bundle__header {
        display: flex;
        align-items: center;
        padding: 16px;
        background: $bundle_header_bgc;

        > .bundle-icon {
            min-width: 70px;
            text-align: center;
        }

        .bundle__header-text {
            flex: 1;
            justify-content: space-around;
            min-width: $bundle_header_w;
        }

        .text-top {
            font-weight: 900;
            font-size: 1.5em;
        }

        .text-bot {
            font-size: 1.1em;
        }

        .bundle-icon img {
            max-width: 50px;
            margin: auto;
        }
    }

    &.bundle__build {
        .bundle__content {
            background: $bundle_header_bgc;
        }
    }

    @include breakpoint(xs) {
        .bundle__header {
            .bundle__header-text {
                min-width: initial;
            }
        }
    }
}

.bundle__content {
    margin-top: 8px;
    // background: $bundle_header_bgc;
    // padding: 0 16px;
    .item-container {
        //display: flex;
        //align-items: center;
        //padding: 32px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2em;

        .item {
            padding: 24px 0;
        }

        .item__content {
            flex: 1;
            // padding: 0 16px;
        }

        .item__icon {
            display: block;
            min-width: 40px;
        }

        .item__price {
            padding: 0 16px 0 0;
            color: $green_color;
        }

        + .item-container {
            border-top: 1px solid $bundle_item_border;
        }

        .button-add {
            border: 1px solid $green_color;
            background: transparent;
            color: $green_color;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover {
                background: $green_color;
                color: #fff;
            }
        }
    }
}

.summary-container {
    .summary {
        padding: 32px;

        + .summary {
            margin-top: 8px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0.85em;
        }

        .summary__header {
            margin-bottom: 16px;

            .glyphicon {
                margin: 0 6px;
            }
        }

        .summary__content {
            h5 {
                margin-bottom: 4px;
                font-weight: 400;
            }
        }
    }
}

.bundle__summary {
    @include breakpoint(xs) {
        .bundle__header {
            // margin-top: 8px;
            display: none;
        }
    }
}


.detail {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .image {
        display: block;
        min-width: 40px;
    }

    .text {
        flex: 1;
        font-weight: 300;
        font-size: .9em;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        a {
            border: 1px solid $main_color;
            border-radius: 16px;
            padding: 2px 8px;
            font-weight: 300;
            font-size: 0.7em;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            &.selected {
                border: 1px solid $green_color;
                color: $green_color;
            }

            + a {
                margin-left: 8px;
            }
        }
    }

    .remove-detail {
        width: 57px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}