.footer {
    background: $main_color;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
    }

    .footer__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        font-size: .85em;

        li {
            padding: 0 16px;
            position: relative;

            + li:before {
                content: '';
                border-left: 1px solid #fff;
                display: block;
                left: 0;
                top: 20%;
                height: 60%;
                position: absolute;
            }
        }
    }

    .footer-right {
        a {
            color: #fff;

            + a {
                margin-left: 16px;
            }
        }

        @include breakpoint(xs) {
            display: none;
        }
    }

    @include breakpoint(xs) {
        font-size: .8em;
        justify-content: center;

        .footer-left {
            flex: none;
        }
    }
}
