html {
    background: none;
    height: auto;
    min-height: 100%;

    @include breakpoint(sm) {
        height: 100%;
    }
}

body {
    //height: 100%;
    min-height: 100vh;
    background: #eee url('../images/bg.png') no-repeat;
    background-size: auto;
    background-position: top 5% center;
    display: flex;
    flex-direction: column;

    @include breakpoint(xs) {
        background-size: auto;
        background-position: top 25% center;
    }
    /*@include breakpoint(sm) {
        background-size: auto;
        background-position: top 25% center;
    }*/
    main {
        flex: 1;
    }
}
