html {
    background: none;
}

body {
    background: #eee url('../images/bg.png') no-repeat;
    background-size: auto;
    background-position: top 5% center;
    display: flex;
    flex-direction: column;

    @include breakpoint(xs) {
        background-size: auto;
        background-position: top 25% center;
    }

    /*@include breakpoint(sm) {
        background-size: auto;
        background-position: top 25% center;
    }*/

    main {
        flex: 1;
    }
}
