.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.h-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.h-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.tc-main {
  color: #313994; }

.bgc-main {
  background-color: #313994; }

.bgc-light-300 {
  background-color: rgba(255, 255, 255, 0.7); }

.bgc-bundle-header {
  background-color: #a6dedb !important; }

.button {
  text-transform: uppercase;
  font-size: 1.6em;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #313994;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }
  .button:hover, .button:active, .button:focus {
    text-decoration: none; }
  .button.button--sm {
    font-size: 1em;
    padding: 4px 24px;
    font-weight: 400; }
  .button img {
    margin-right: 16px; }
  .button.button--signup {
    color: #fff;
    background-color: #313994; }
  @media (max-width: 767px) {
    .button {
      font-size: 1.2em; } }

html {
  background: none;
  height: auto;
  min-height: 100%; }
  @media (min-width: 768px) {
    html {
      height: 100%; } }

body {
  min-height: 100vh;
  background: #eee url("../images/bg.png") no-repeat;
  background-size: auto;
  background-position: top 5% center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*@include breakpoint(sm) {
      background-size: auto;
      background-position: top 25% center;
  }*/ }
  @media (max-width: 767px) {
    body {
      background-size: auto;
      background-position: top 25% center; } }
  body main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.header {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #fff; }
  .header a:hover {
    text-decoration: none; }
  .header .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none; }
    .header .hamburger img {
      max-width: 32px; }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.brand {
  color: #fff;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .brand .logo {
    max-width: 48px;
    margin-right: 8px; }
  .brand .brand__name {
    font-weight: 900;
    color: #313994;
    position: relative; }
    .brand .brand__name:after {
      display: block;
      width: 6px;
      height: 6px;
      background: #313994;
      position: absolute;
      content: '';
      border-radius: 50%;
      right: -6px;
      top: calc(1em - 3px); }
  @media (max-width: 767px) {
    .brand {
      padding: 8px; }
      .brand .brand__name {
        display: none; }
      .brand .logo {
        max-width: 32px; } }

.nav {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 767px) {
    .nav {
      display: none; }
      .nav .menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%; }
        .nav .menu li {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          display: block;
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.1); }
          .nav .menu li:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
  @media (min-width: 768px) {
    .nav.flex-mobile {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; } }

.menu li {
  display: block; }
.menu a {
  display: block;
  padding: 8px 48px;
  text-decoration: none;
  color: #313994; }
  .menu a:hover {
    color: #333; }
.menu .menu__chat {
  background-image: url(../images/chat.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 50%;
  height: 100%;
  padding: 16px 16px 16px 32px; }
@media (max-width: 767px) {
  .menu a, .menu .menu__chat {
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0; } }

.footer {
  background: #313994;
  color: #fff; }
  .footer a {
    text-decoration: none;
    color: #fff; }
  .footer .footer__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .85em; }
    .footer .footer__menu li {
      padding: 0 16px;
      position: relative; }
      .footer .footer__menu li + li:before {
        content: '';
        border-left: 1px solid #fff;
        display: block;
        left: 0;
        top: 20%;
        height: 60%;
        position: absolute; }
  .footer .footer-right a {
    color: #fff; }
    .footer .footer-right a + a {
      margin-left: 16px; }
  @media (max-width: 767px) {
    .footer .footer-right {
      display: none; } }
  @media (max-width: 767px) {
    .footer {
      font-size: .8em;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer .footer-left {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none; } }

.sec--intro {
  position: fixed;
  width: 200px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: calc(50% - 200px); }
  .sec--intro .sec__content {
    margin-right: 16px;
    font-size: 1.4em;
    text-align: center; }
    .sec--intro .sec__content .line {
      border-top: 1px solid #313994;
      margin: 8px; }
    .sec--intro .sec__content .intro-top, .sec--intro .sec__content .intro-bot {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .sec--intro:after {
    content: '';
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: -1;
    left: -50%;
    left: -200px; }
  @media (max-width: 767px) {
    .sec--intro {
      display: none; } }

.dot-circle {
  width: 3px;
  height: 3px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 1px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/*.intro-top {
    color: #313994;
}

.intro-top .dot-circle {
    background-color: #313994;
}

.intro-bot {
    color: #4caf50;
}

.intro-bot .dot-circle {
    background-color: #4caf50;
}*/
.bundles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  color: #313994; }
  .bundles .bundle + .bundle {
    margin-left: 16px; }
  .bundles .bold {
    font-weight: 600;
    font-size: 1.3em; }
  .bundles .bundle-mobile {
    display: none; }
  .bundles img {
    max-width: 24px; }
  @media (max-width: 767px) {
    .bundles {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
      .bundles .bundle {
        margin: 0 !important;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        .bundles .bundle.bundle-mobile {
          display: block; }
        .bundles .bundle:not(.bundle-mobile) {
          padding: 16px; } }

.bundle .bundle__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background: rgba(255, 255, 255, 0.7); }
  .bundle .bundle__header > .bundle-icon {
    min-width: 70px;
    text-align: center; }
  .bundle .bundle__header .bundle__header-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 350px; }
  .bundle .bundle__header .text-top {
    font-weight: 900;
    font-size: 1.5em; }
  .bundle .bundle__header .text-bot {
    font-size: 1.1em; }
  .bundle .bundle__header .bundle-icon img {
    max-width: 50px;
    margin: auto; }
.bundle.bundle__build .bundle__content {
  background: rgba(255, 255, 255, 0.7); }
@media (max-width: 767px) {
  .bundle .bundle__header .bundle__header-text {
    min-width: initial; } }

.bundle__content {
  margin-top: 8px; }
  .bundle__content .item-container {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer; }
    .bundle__content .item-container .item {
      padding: 24px 0; }
    .bundle__content .item-container .item__content {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .bundle__content .item-container .item__icon {
      display: block;
      min-width: 40px; }
      .bundle__content .item-container .item__icon.flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 8px; }
    .bundle__content .item-container .item__price {
      padding: 0 16px 0 0;
      color: #4caf50; }
    .bundle__content .item-container + .item-container {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .bundle__content .item-container .button-add {
      border: 1px solid #4caf50;
      background: transparent;
      color: #4caf50;
      cursor: pointer;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .bundle__content .item-container .button-add:hover {
        background: #4caf50;
        color: #fff; }
    .bundle__content .item-container .item__dropdown .glyphicon {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .bundle__content .item-container.expanded .item__dropdown .glyphicon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.summary-container {
  max-height: 400px;
  overflow: auto; }
  .summary-container .summary {
    padding: 32px; }
    .summary-container .summary + .summary {
      margin-top: 8px; }
    .summary-container .summary ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0.85em; }
    .summary-container .summary .summary__header {
      margin-bottom: 16px; }
      .summary-container .summary .summary__header .glyphicon {
        margin: 0 6px; }
    .summary-container .summary .summary__content h5 {
      margin-bottom: 4px;
      font-weight: 400; }

@media (max-width: 767px) {
  .bundle__summary .bundle__header {
    display: none; } }

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .detail .image {
    display: block;
    min-width: 40px; }
  .detail .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-weight: 300;
    font-size: .9em; }
  .detail .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .detail .action a {
      border: 1px solid #313994;
      border-radius: 16px;
      padding: 2px 8px;
      font-weight: 300;
      font-size: 0.7em;
      text-decoration: none; }
      .detail .action a:hover {
        text-decoration: none; }
      .detail .action a.selected {
        border: 1px solid #4caf50;
        color: #fff;
        background: #4caf50; }
      .detail .action a + a {
        margin-left: 8px; }
  .detail .remove-detail {
    width: 57px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none; }
  .detail.detail--talk {
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .detail.detail--talk:hover {
      color: #4caf50; }
/*# sourceMappingURL=styles.css.map */