<header class="header">
    <a class="brand" href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Content/images/onlife-logo.gif")" alt="logo" class="logo" />
        <span class="brand__name">OnLife</span>
    </a>

    <nav class="nav">
        <ul class="menu">
            <li><a href="#">MOBILE &amp; BROADBAND</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">PAY ACCOUNT</a></li>
            <li><a href="#">TOP US</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#" class="menu__chat"></a></li>
        </ul>
    </nav>
</header>