<div class="summary-container">
    @for (int i = 0; i < 2; i++)
    {
        <div class="summary bgc-light-300">
            <div class="summary__header flex-container v-center">
                <span class="flex-container v-center mr+">
                    <img src="~/Content/images/purple-home-data.png" />
                    <i class="glyphicon glyphicon-plus"></i>
                    <img src="~/Content/images/purple-home-talk-icon.png" />
                </span>
                <span class="bold text-uppercase">home data + talk</span>
            </div>
            <div class="summary__content flex-container">
                <div class="flex-item">
                    <h5 class="text-uppercase">details</h5>
                    <ul>
                        <li>- 100BG data</li>
                        <li>- 50mbps</li>
                        <li>- Local, national &amp; mobile talk</li>
                        <li>- Monthly contract</li>
                    </ul>
                </div>
                <div class="flex-item">
                    <h5 class="text-uppercase">chargers</h5>
                    <ul>
                        <li>$60 upfront (modem)</li>
                        <li>%55 minimum month</li>
                        <li>$720 12 month minium cost</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>