<div class="bundle__header bgc-bundle-header">
    <span class="bundle-icon">
        <img src="~/Content/images/purple-summary-icon.png" alt="build summary" />
    </span>
    <div class="bundle__header-text text-uppercase text-center flex-container">

        <div class="text-uppercase text-center">
            <span class="text-top">
                <i class="glyphicon glyphicon-usd"></i>
                <span>0</span>
            </span>
            <div class="text-bot">upfront</div>
        </div>

        <div class="text-uppercase text-center">
            <span class="text-top">
                <i class="glyphicon glyphicon-usd"></i>
                <span>0</span>
            </span>
            <div class="text-bot">min pmo</div>
        </div>

        <div class="text-uppercase text-center">
            <span class="text-top">
                <i class="glyphicon glyphicon-usd"></i>
                <span>0</span>
            </span>
            <div class="text-bot">min 12 month</div>
        </div>

    </div>
</div>