@{
    ViewBag.Title = "Home Page";
}

<section class="sec sec--intro">
    <div class="sec__content">
        <div class="intro-top tc-main">
            <span>Your life</span>
            <span class="dot-circle bgc-main"></span>
            <span class="dot-circle bgc-main"></span>
            <span class="dot-circle bgc-main"></span>
        </div>
        <div class="line"></div>
        <div class="intro-bot tc-green-500">            
            <span class="dot-circle bgc-green-500"></span>
            <span class="dot-circle bgc-green-500"></span>
            <span class="dot-circle bgc-green-500"></span>
            <span>your bundle</span>
        </div>
    </div>
</section>